blockquote,
body,
code,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
li,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
abbr,
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: 400;
}
ul li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
legend {
  color: #000;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  font-family: Verdana;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
}
.wrapper--between {
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
  width: 100%;
}
.header-top {
  background-color: #f4f4f4;
  display: flex;
  justify-content: space-between;
}
.header-top__left {
  display: flex;
  font-family: Roboto;
  font-size: 14px;
  justify-content: flex-start;
}
.header-top_item {
  display: flex;
  border-right: 3px solid #cecece;
  padding: 0 22px;
}
.header-top_item:last-child {
  border-right: none;
}
.header-top_icon,
.header-top_icon-right {
  fill: #666666;
}
.header-top_icon--signin {
  width: 13px;
  height: 14px;
}
.header-top__enter {
  color: #666666;
}
.header-top_icon--heart {
  width: 15px;
  height: 13px;
}
.header-top_icon-right {
  margin-right: 31px;
}
.header-top_icon-right--vk {
  width: 23px;
  height: 14px;
}
.header-top_icon-right--fb {
  width: 11px;
  height: 19px;
}
.header-top_icon-right--tw {
  width: 18px;
  height: 18px;
}
.header-top__favorites {
  color: #666666;
}
.header-top_icon--compare {
  width: 16px;
  height: 12px;
}
.header-top__comparison {
  color: #666666;
}
.wrapper--between-bot {
  justify-content: space-between;
  align-items: center;
}
.bot-left {
  display: flex;
  align-items: center;
  min-width: 230px;
}
.bot-left__img {
  width: 120px;
  height: 130px;
}
.bot-left__logo-name {
  min-width: 120px;
}
.bot-left__name-top {
  color: #3e3d3d;
  font-size: 28px;
  font-family: Roboto;
  font-weight: 600;
}
.header-bot__center {
  max-width: 610px;
  width: 58%;
}
.bot-left__name-bot1,
.bot-left__name-bot2 {
  color: #666;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
}
.bot-left__name-bot2 {
  margin-left: 14px;
}
.contact-top__phone,
.contact-top__email {
  font-size: 16px;
  font-weight: 100;
  color: black;
  fill: #9d6bcc;
}
.contact-top__phone-ico {
  width: 18px;
  height: 18px;
}
.contact-top__email-ico {
  width: 21px;
  height: 21px;
}
.header-bot__search-form {
  max-width: 610px;
  height: 46px;
  border: 1px solid #c3c3c3;
  display: flex;
}
.header-bot__input-text {
  box-sizing: border-box;
  flex: 1 0 85%;
  outline: none;
  border: none;
  font: 16px Roboto;
  padding-left: 20px;
}
.header-bot__input-text::-webkit-input-placeholder {
  color: #cecece;
}
.header-bot__input-text:focus {
  box-shadow: 1px 1px 4px #c3c3c3 inset;
}
.header-bot__input-btn {
  outline: none;
  border: none;
  flex: 0 0 15%;
  background: url("../img/search.svg") no-repeat #F4F4F4 center;
}
.header-bot__input-btn:hover {
  cursor: pointer;
}
.header-bot__input-btn:active {
  background-color: #CDCDCD;
}
.basket {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  margin: auto auto auto 55px;
  box-sizing: border-box;
  border: 1px solid #C3C3C3;
  position: relative;
}
.basket::before {
  content: '2';
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: black;
  position: absolute;
  top: -15%;
  right: 13%;
  color: white;
  padding-top: 3px;
  text-align: center;
  font: 16px Roboto;
  box-sizing: border-box;
}
.basket__cost {
  font: 20px Roboto;
  color: #666666;
  padding: 12px 0;
  flex-grow: 2;
  border-right: 3px solid #cecece;
  padding-right: 30px;
}
.basket__icon {
  width: 37px;
  height: 33px;
  margin-left: 20px;
  flex-grow: 1;
  fill: #9d6bcc;
}
.nav-main {
  background-color: #9d6bcc;
}
.wrapper--nav {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto 25px;
}
.nav-main__list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 10px;
  padding-bottom: 10px;
}
.nav-main__item {
  border-left: 1px solid white;
  display: flex;
  justify-content: center;
  flex: 0 1 17%;
}
.nav-main__link {
  font: 18px Roboto;
  color: #fff;
}
.nav-main__link:hover {
  color: #f4af3f;
}
.wrapper--section {
  padding: 0 21px;
  box-sizing: border-box;
}
.section-right {
  order: 2;
  flex-grow: 1;
}
aside {
  max-width: 290px;
  width: 100%;
  margin-right: 30px;
  flex-grow: 1;
}
.nav-aside__category {
  padding: 21px 30px;
  font: 20px Verdana;
  background: #4a4a4a;
  box-sizing: border-box;
}
.nav-aside_list {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0;
}
.nav-aside__item {
  display: flex;
  padding: 20px;
  background: #F4F4F4;
  border-bottom: 1px solid #cecece;
}
.nav-aside__item:hover {
  background: #CDCDCD;
  cursor: pointer;
}
.nav-aside__link {
  font: 16px Verdana;
  color: #4a4a4a;
}
.nav-aside__ico {
  width: 15px;
  height: 15px;
  vertical-align: text-bottom;
  fill: #4a4a4a;
  padding-right: 15px;
}
.banner__top,
.banner__bot {
  margin: 5px 0;
  border: 2px solid #cecece;
  box-sizing: border-box;
}
.banner__top:hover,
.banner__bot:hover {
  cursor: pointer;
  opacity: 0.7;
}
.slider {
  max-width: 925px;
  display: block;
  min-height: 305px;
  margin-bottom: 25px;
  box-sizing: border-box;
  border: 1px solid #cecece;
}
.slider__active-image {
  display: flex;
}
.slider__box {
  display: flex;
  align-items: center;
  padding-top: 25px;
  padding-right: 115px;
  padding-left: 145px;
  padding-bottom: 25px;
}
.slider__image {
  align-items: stretch;
  padding-right: 115px;
  max-width: 100%;
  max-height: 254px;
}
.slider__info > span {
  display: block;
}
.slider__name {
  color: #666;
  font-size: 40px;
  font-weight: 400;
}
.slider__slogan {
  color: #9d6bcc;
  font-size: 18px;
  font-weight: 400;
}
.slider__description {
  max-width: 299px;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 400;
}
.slider__buy-now {
  max-width: 185px;
  width: 100%;
  min-height: 53px;
  outline: none;
  border: 1px solid #9d6bcc;
  text-transform: uppercase;
  padding: 15px 12px;
  color: #ff824a;
  font: 16px Myriad Pro;
  font-weight: 600;
  background: #fff;
  margin-top: 20px;
}
.slick-prev,
.slick-next {
  height: 15px;
  width: 15px;
  border-left: 3px solid #9d6bcc;
  border-bottom: 3px solid #9d6bcc;
}
.slick-prev:hover,
.slick-next:hover {
  border-color: #f4af3f;
}
.slick-prev:active,
.slick-next:active {
  opacity: 0.5;
}
.slick-prev {
  left: 5px;
  transform: rotate(45deg);
  z-index: 100;
}
.slick-next {
  right: 5px;
  transform: rotate(225deg);
}
.slick-prev:before,
.slick-next:before {
  color: transparent;
}
.offers {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.sale,
.discounts,
.shares {
  flex-basis: 28.5%;
  border: 1px solid #cecece;
  padding: 15px 14px;
}
.sale:hover,
.discounts:hover,
.shares:hover {
  cursor: pointer;
  opacity: 0.8;
  box-shadow: 2px 2px 5px #cecece;
}
.sale:active,
.discounts:active,
.shares:active {
  box-shadow: 2px 2px 5px #cecece inset;
}
.sale__icon {
  width: 33px;
  height: 26px;
  vertical-align: text-bottom;
}
.discounts__icon {
  width: 27px;
  height: 28px;
  vertical-align: text-bottom;
}
.shares__icon {
  width: 27px;
  height: 23px;
  vertical-align: text-bottom;
}
.sale__caption,
.discounts__caption,
.shares__caption {
  font: 30px Verdana;
}
.sale__description,
.discounts__description,
.shares__description {
  font: 14px Verdana;
  color: #666;
  display: block;
  padding-top: 5px;
  font-weight: 400;
}
.sale__icon--color {
  fill: #9d6bcc;
}
.sale__caption--color {
  color: #9d6bcc;
}
.discounts__icon--color {
  fill: #ff824a;
}
.discounts__caption--orange {
  color: #ff824a;
}
.shares__icon--color {
  fill: #37a49e;
}
.shares__caption--color {
  color: #37a49e;
}
.new-items,
.discount-items {
  font: 17px Verdana;
  text-transform: uppercase;
  color: #666666;
  display: block;
  border-bottom: 1px solid #cecece;
}
.new-box,
.discount-box {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.item {
  flex-basis: 23%;
  border: 1px solid #cecece;
  margin: 25px 0px 20px 0;
  padding-top: 30px;
  text-align: center;
  position: relative;
  transition: transform 0.5s;
}
.item:last-child {
  margin-right: 0;
}
.item:hover {
  transform: scale(1.05);
  transition: transform 1.5s;
  box-shadow: 2px 2px 2px #cecece;
  cursor: pointer;
}
.item:active {
  transform: scale(1);
  transition: transform 0.1s;
}
.item__image {
  max-height: 130px;
}
.item > span {
  display: block;
  max-width: 130px;
  margin: 0 auto;
}
.item--img-new:before {
  content: "new";
  display: block;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #37a49e;
  position: absolute;
  top: 1%;
  left: 1%;
  color: #fff;
  padding-top: 10px;
  box-sizing: border-box;
  text-align: center;
  font: 12px Veranda;
}
.item--img-discount:before {
  content: "-10%";
  display: block;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #f4af3f;
  position: absolute;
  top: 1%;
  left: 1%;
  color: #fff;
  padding-top: 10px;
  box-sizing: border-box;
  text-align: center;
  font: 12px Veranda;
}
.item__xiaomi-mi5 {
  padding-bottom: 10px;
  font: 18px Verdana;
  color: #666;
  padding-top: 30px;
}
.item__price {
  padding-bottom: 10px;
  font: 18px Verdana;
  color: #9d6bcc;
}
.item__price--discoutn {
  font: 10px Verdana;
  color: #808080;
  font-weight: 400;
  text-decoration: line-through;
  text-align: right;
  line-height: 1;
}
.item__in-basket {
  display: flex;
  align-items: stretch;
}
.item__left-basket {
  background: #9d6bcc;
  flex-grow: 1;
  padding: 10px 0;
}
.item__left-basket:hover {
  background: #f4af3f;
}
.item__left-basket:active {
  opacity: 0.8;
}
.item__right-basket {
  background: #9d6bcc;
  flex-grow: 2;
  padding: 10px 0;
  margin-left: 1px;
}
.item__right-basket:hover {
  background: #f4af3f;
}
.item__right-basket:active {
  opacity: 0.8;
}
.item__basket-icon {
  width: 14px;
  height: 13px;
  padding: 0 10px;
  fill: #fff;
}
.item__put-basket {
  font: 18px Verdana;
  color: #fff;
}
.item__bolt-icon {
  width: 8px;
  height: 15px;
  fill: #fff;
}
.bot-left--footer {
  max-width: 290px;
  width: 100%;
  margin-right: 30px;
}
.footer-top {
  background: #4a4a4a;
}
.bot-left__name-top--white,
.bot-left__name-bot1--white,
.bot-left__name-bot2--white {
  color: white;
}
.foot-nav,
.payment {
  margin-left: 13px;
  margin-right: 125px;
}
.foot-nav__menu {
  max-width: 90px;
  padding-right: 40px;
  color: #fff;
  font: 18px Roboto-Regular;
  border-bottom: 1px solid;
}
.foot-nav__item {
  padding-bottom: 10px;
}
.foot-nav__link {
  color: #fff;
  font: 14px Roboto-Regula;
}
.foot-nav__link:hover {
  color: #f4af3f;
}
.payment__inner {
  display: block;
  padding-right: 45px;
  color: #fff;
  font: 18px Roboto-Regular;
  border-bottom: 1px solid;
  margin-bottom: 10px;
}
.payment__item {
  display: block;
  color: #fff;
  font: 14px Roboto-Regula;
  padding-bottom: 10px;
}
.payment__item:hover {
  color: #f4af3f;
  cursor: pointer;
}
.contact-info__inner {
  display: block;
  color: #fff;
  font: 18px Roboto-Regular;
  border-bottom: 1px solid;
  margin-bottom: 10px;
}
.contact-info__item {
  display: block;
  color: #fff;
  font: 14px Roboto-Regular;
  padding-bottom: 10px;
}
.contact-info__item:hover {
  color: #f4af3f;
}
.contact-info__item-link {
  color: #fff;
}
.contact-info__item-link:hover {
  color: #f4af3f;
}
.footer-bot {
  background: #000000;
}
.wrapper--footer-bot {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-bot__inner {
  font: 12px Roboto;
  color: #fff;
  padding: 10px 0;
}
